@import './base.css';
@import './tailwindcss.css';

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 2rem;
  bottom: 5rem;
  left: 0;
  background-image: url(https://cdn.yuelili.com/web/assets/christmas.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  transform: scale(0.1);
  transform-origin: right bottom;
  z-index: 2;
}
